{{!-- layouts/base.hbs --}}

<!doctype html>
<html>
	<head>
		<title>
			{{#if title}}
				{{title}} - {{groupName}}
			{{else}}
				{{groupName}}
			{{/if}}
		</title>

		{{!-- link scripts and stylesheets --}}
		{{!-- jQuery js --}}
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		{{!-- Then include bootstrap js --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		{{!-- my stylesheet, so it overrides bootstrap --}}
		<link rel="stylesheet" href="../styles/main.css">
	</head>
	<body>
		{{#> navbar-block}}
			{{> includes/navbar }}
		{{/navbar-block}}

		{{#> banner}}
		{{/banner}}

		{{#> content}}
			{{!-- block content --}}
		{{/content}}

		<footer>
			{{#> footer-block}}
				{{> includes/footer }}
			{{/footer-block}}
		</footer>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>