{{!-- pages/about.hbs --}}

{{#> layouts/base title="About"}}

	{{#*inline "content"}}
		<div class="container-fluid">
			<!-- look at about page for web.lab for formatting -->
			<div class="left-content">
				<div>
					Next Sing was founded in Spring 2019 as a low-commitment music group supporting all genres of music. Whether you're a singer or instrumentalist, experienced or looking to try something new, you'll find something at Next Sing! We hold one showcase at the end of each semester.
				</div>

				<div>
					<h3>History</h3>
					<p>Next Sing was founded in Spring 2019 by a cappella and MITSO rejects Cynthia Liu '20 and Tommy Adebiyi '21. Noticing a lack of low-commitment, low-skill music groups on campus; and seeing that most groups focus on just a few types or genre of music, the founders decided to address all these issues with one solution. Through this group, we hope to give all students who like music a casual, flexible environment to learn and perform songs they enjoy.</p>
				</div>
				<br>
				<div>
					<h3>Group Structure</h3>
					<p>Unlike other music groups on campus, Next Sing is structured like DanceTroupe or Asian Dance Team. Prospective members choose and audition for specific acts. Members will only perform in acts they are both interested in and selected for. Each act holds separate, non-conflicting rehearsals for 1 hr/wk. These rehearsals are arranged and lead by "act leads." All group-wide activities, such as showings, social activities, and the biannual showcase are managed by the <a href="/people">officers</a>.</p>
				</div>
				<br>
				<div>
					<h3>Allowed Acts</h3>
					<p>Acts must have a singing focus, which is] defined as requiring at least 4 singers, at least one of whom has the melody for a significant portion (>50%) of the piece. This is due to the difficulty of finding instrumentalists, the fact that it is difficult and expensive to procure and teach a new instrument, and the fact that we a new student group. However, all genres of music--including instrumental, provided the piece has been rearranged to include vocalists by the act lead--are allowed.</p>
				</div>
			</div>
			
			<div class="right-content">
				<ul>
				<li>This is supposed to be a navigation menu.</li>
				</ul>
			</div>
		</div>
	{{/inline}}

{{/layouts/base}}