{{!-- pages/home.hbs --}}

{{#> layouts/base title="Home"}}

	{{#*inline "content"}}
		<h2>News</h2>
		<p>We are accepting new act leads and officers for Spring 2019! Want to lead and direct a performance of your favorite songs? Shoot us an email at (email)! Any music allowed, acts must have a singing focus but can also have any number of accompanying instruments.</p>
	{{/inline}}

{{/layouts/base}}