{{!-- pages/home.hbs --}}

{{#> layouts/base title="Home"}}

	{{#*inline "content"}}
		<!-- eventual TODO: allow president, vice president, and webmaster to log in and make annoucements without directly editing html -->

		<div class="container-fluid wide-content">
			<h2>News</h2>
			<p>Jan 25, 2019. We are accepting new act leads for Spring 2019! Want to lead and direct performances of your favorite songs? Fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSevEyfMKw64Od8DslFr64GCD2-oWzRd4zXQs1G1fRNJr16D_A/viewform">this form!</a> Any music allowed, acts must have a singing focus (at least 1 singer, singing part is most important in >50% of the piece), but can also have any number of instruments. Each act must have at least 5 people.</p>
			<p>Jan 14, 2019. The following officer roles for Spring 2019 are still unfilled: Act Coordinator and Art Director. If you are interested, contact next-sing-exec@mit.edu!</p>
			<p>Dec 10, 2018. Our initial meeting was held on Monday, Dec. 10 2018. Interested students came together to eat ice cream and discuss the musical and size scope of the group, group names, and officer roles. The meeting minutes could be found here.</p>
		</div>
	{{/inline}}

{{/layouts/base}}