{{!-- pages/home.hbs --}}

{{#> layouts/base title="Home"}}

	{{#*inline "content"}}
		<!-- eventual TODO: allow president, vice president, and webmaster to log in and make annoucements without directly editing html -->

		<div class="container-fluid">
			<h2>News</h2>
			<p>Dec 27, 2018. The following officer roles for Spring 2019 are still unfilled: xxx. If you are interested, please fill out this form</p>
			<p>Dec 25, 2018. We are accepting new act leads for Spring 2019! Want to lead and direct a performance of your favorite songs? Shoot us an email at (email)! Any music allowed, acts must have a singing focus but can also have any number of accompanying instruments.</p>
			<p>Dec 10, 2018. Our initial meeting was held on Monday, Dec. 10. Interested students came together to eat ice cream and discuss the musical and size scope of the group, group names, and officer roles. The meeting minutes could be found here.</p>
		</div>
	{{/inline}}

{{/layouts/base}}