{{!-- pages/people.hbs --}}

{{#> layouts/base title="People"}}

	{{#*inline "content"}}
		<div class="container-fluid">
			<!-- eventual TODO: use javascript to autogenerate all the people from a CSV -->
			<div>
				<div>
					<h2>Officers</h2>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Tommy Adebiyi</b>, '21 Course 2</p>
							<p><i>President</i></p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Cynthia Liu</b>, '20 Course 6-3, 18</p>
							<p><i>Vice President, Webmaster</i></p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Shannon Weng</b>, '22</p>
							<p><i>???</i></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>John Adeyeye</b>, '20 Course ???</p>
							<p><i>???</i></p>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div>
					<h2>Act Leads Spring 2019</h2>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Tommy Adebiyi</b>, '21 Course 2</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Cynthia Liu</b>, '20 Course 6-3, 18</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Shannon Weng</b>, '22</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div>
							INSERT IMAGE HERE
						</div>
						<div>
							<p><b>Cory Lynch</b>, '20 Course 6-3</p>
						</div>
					</div>
				</div>			
			</div>
		</div>
	{{/inline}}

{{/layouts/base}}