{{!-- includes/footer.hbs --}}

<div id="footer">
	last updated Jan. 27, 2019
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSfFRFN9uXT-ED_5YRnmZiKRZ54TIsvBueFXBCU1FPOsgIIm5Q/viewform">Sign up for our mailing list!</a>
</div>